@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.article {
    padding: 1rem;
    width: 100%;
    font-size: 1.5rem;

    @include media-tablet {
        padding: 1rem 2rem;
    }

    @include media-desktop {
        padding: 2rem 0 1rem 2rem;
    }

    &__container {}

    &__heading {
        border-bottom: 0.2rem solid $divider-line-color;

        @include media-tablet {
            border: none;
        }

    }

    &__title {
        font-weight: 600;

        @include media-tablet {
            font-weight: 700;
            font-size: 3rem;
            margin: 0;
        }

    }

    &__sub-container {
        width: 100%;
        border-bottom: 0.2rem solid $divider-line-color;
        display: flex;

        @include media-tablet {
            display: flex;
            justify-content: space-between;
        }

    }

    &__info {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        @include media-tablet {
            flex-direction: row;
            justify-content: flex-start;

        }
    }


    &__engagement {
        width: 50%;

        @include media-tablet {
            display: flex;
            justify-content: flex-end;
        }

        @include media-desktop {
            align-items: center;
        }

    }

    &__author-container {

        @include media-tablet {
            width: 25%;
        }

        @include media-desktop {
            width: 35%;
        }


    }

    &__author {
        font-size: 1.5rem;
        font-weight: 600;
    }

    &__date {
        color: $secondary-text-color;
    }

    &__likes {
        display: flex;
        color: $secondary-text-color;

        @include media-tablet {
            width: 25%;
        }

        @include media-desktop {
            width: 30%;

        }

    }

    &__likes-icon {
        margin-right: 1rem;

        @include media-desktop {
            width: 2rem;
        }

    }

    &__views {
        display: flex;
        color: $secondary-text-color;

        @include media-tablet {
            width: 35%;
        }


    }

    &__views-icon {
        margin-right: 1rem;

        @include media-desktop {
            width: 2rem;
        }

    }

    &__description {
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    @include media-desktop {
        margin-right: 1rem;

    }

}