@font-face {
    font-family: "avenir-next";
    src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("OpenType");
    font-weight: 400;
}

@font-face {
    font-family: "avenir-next";
    src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("OpenType");
    font-weight: 600;
}

@font-face {
    font-family: "avenir-next";
    src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("OpenType");
    font-weight: 700;
}