$primary-background-color: #fff;
$primary-cta-color: #0095ff;
$secondary-text-color: #afafaf;
$primary-text-color: #323232;

// Secondary-colors
$video-component-color: #000000;
$hover-state-color: #0065ad;
$divider-line-color:#e1e1e1;
$form-background-color: #fafafa;


// breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;