@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.hero {
background-color: $video-component-color;

&__container {

    @include media-tablet {
        padding: 0 2rem;

    }
    @include media-desktop {
        padding: 0 20rem;

    }
}


    &__tumbnail {
        width: 100%;

        @include media-tablet {
            

        }

    }
}