@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.hero {
background-color: $video-component-color;


    &__tumbnail {
        width: 100%;

        @include media-tablet {
            width: 90%;
            margin-left: 4rem;

        }

    }
}