@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.playlist {
    padding: 1rem;

    @include media-tablet {
        padding: 2rem;
    }


    &__title {
        font-size: 1.5rem;
        color: #e1e1e1;
        font-weight: 600;
        margin-top: 0;

    }

    &__container {
        display: flex;
        width: 100%;
        margin-bottom: 1rem;
        justify-content: space-between;

        // &:hover {
        //     transition: all .3s ease-in-out;
        //     transform: scale(1.1);
        //  }

        @include media-tablet {
            justify-content: flex-start;
        }
    }

    &__video-container {

        @include media-tablet {
            width: 15%;
        }

        @include media-desktop {
            width: 50%;

        }
    }


    &__video {
        width: 10rem;
        height: 6.5rem;
        object-fit: cover;
        background-position: center;
        border-radius: 0.4rem;

        @include media-desktop {
            width: 15rem;
            height: 8.5rem;

        }
    }

    &__text-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 65%;
        color: $video-component-color;
        text-decoration: none;

        @include media-tablet {
            width: 25%;
        }

        @include media-desktop {
            width: 50%;
        }
    }

    &__subtitle {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0;
    }

    &__author {
        font-size: 1.5rem;
        margin: 0;
    }
}