@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.header {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 100%;

    @include media-tablet {
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 2rem;

        @include media-desktop {
            padding: 1rem 12rem;
        }
    }

    &__logo-container {

        @include media-tablet {
            width: 45%;
        }
    }

    &__site-logo {
        height: 6.5rem;
        width: 100vw;
        padding: 2rem;

        @include media-tablet {
            width: 65%;
            padding: 0;
        }

        @include media-desktop {
            height: 3rem;
            width: 32%;
        }

    }

    &__search {
        align-items: center;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include media-tablet {
            display: flex;
            justify-content: space-between;
        }

        @include media-desktop {
            width: 50%;
        }
    }


    &__search-bar {
        background: url(../../assets/Icons/search.svg) left no-repeat;
        background-position-x: 1rem;
        width: 70vw;
        height: 5rem;
        font-size: 1.5rem;
        background-color: $form-background-color;
        border-radius: 0.4rem;
        border: 0.2rem solid $divider-line-color;
        padding: 0.5rem 2rem 0.5rem 4rem;

        @include media-tablet {
            width: 50%;
        }

    }

    &__pro-img {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        object-fit: cover;
        object-position: 20%;

        @include media-tablet {
            order: 3;
        }

    }

    &__btn-container {
        width: 100%;


        @include media-tablet {
            width: 30%;

        }
    }


    &__btn {
        background: url(../../assets/Icons/upload.svg) left no-repeat;
        background-position-x: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 5rem;
        border: none;
        border-radius: 0.4rem;
        background-color: $primary-cta-color;
        color: $primary-background-color;
        font-weight: 500;
        font-size: 1.5rem;
        margin: 1rem 0 0;
        padding: 0;

        &:hover {
            background-color: $hover-state-color;
        }

        @include media-tablet {
            width: 30%;
            margin: 0;
        }
    }
}