@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.comments {
    display: flex;
    font-size: 1.5rem;
    border-bottom: 0.2rem solid #e1e1e1;
    margin: 0 1rem;
    justify-content: space-between;

    @include media-tablet {
        margin: 0 2rem;
    }

    @include media-desktop {
        padding: 2rem;
        margin: 0;

    }

    &__img-container {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    &__pro-img {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        margin-top: 1.5rem;
    }

    &__container {
        display: flex;
        flex-direction: column;
        width: 77vw;
        border: none;
        margin-bottom: 2rem;

        @include media-tablet {
            width: 92%;
        }

        @include media-desktop {
            width: 86%;
        }
    }


    &__head-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }


    &__title {
        font-weight: 600;
        font-size: 1.5rem;
    }

    &__timestamp {
        color: #e1e1e1;
        margin: 0;
    }

    &__paragraph {
        font-size: 2remrem;
        margin: 0;
    }
}